# ----------------------
# Bash Aliases
# ----------------------
alias clr='clear' # Clear your terminal screen
alias ip='curl icanhazip.com' # Your public IP address
alias ll='ls -al --color' # List all files in current directory in long list format
alias ldir='ls -al --color | grep ^d' # List all directories in current directory in long list format

# ----------------------
# Git Aliases
# ----------------------
alias ga='git add'
alias gaa='git add .'
alias gaaa='git add --all'
alias gau='git add --update'
alias gb='git branch'
alias gbd='git branch --delete '
alias gc='git commit'
alias gcm='git commit --message'
alias gcf='git commit --fixup'
alias gco='git checkout'
alias gcob='git checkout -b'
alias gcom='git checkout main'
alias gcos='git checkout staging'
alias gcod='git checkout develop'
alias gd='git diff'
alias gda='git diff HEAD'
alias gi='git init'
alias glg='git log --graph --oneline --decorate --all'
alias gld='git log --all --graph --pretty="%C(bold ul #FFF633)%h%C(reset)%x09Commit%x09: %C(#3CFF33)%H%C(reset)%C(bold #EB4034)%d%C(reset)%n%x09%x09Parent%x09: %C(#FFF633)%p%C(reset)%n%x09%x09Time%x09: %C(#FF33AD)%aD%n%x09%x09%C(reset)Author%x09: %C(bold #3380FF)%an%C(reset) (Committed by %C(bold #3380FF)%cn%C(reset))%n%x09%x09Title%x09: %C(#3CFF33)%s%C(reset)%n%n"'
alias gm='git merge --no-ff'
alias gma='git merge --abort'
alias gmc='git merge --continue'
alias gp='git pull'
alias gpr='git pull --rebase'
alias gr='git rebase'
alias gs='git status'
alias gss='git status --short'
alias gst='git stash'
alias gsta='git stash apply'
alias gstd='git stash drop'
alias gstl='git stash list'
alias gstp='git stash pop'
alias gsts='git stash save'

# ----------------------
# My Custom Aliases
# ----------------------
alias regenv='export REGISTRY_URL={{ moj_pttp_dev_account_id }}.dkr.ecr.eu-west-2.amazonaws.com && echo -e "\e[1m\e[33m\uF0A4\e[0m The environment variable \e[41m REGISTRY_URL \e[0m is now set to: \e[1m\e[4m\e[32m"$REGISTRY_URL"\e[0m \uF25B"'
alias shenv='export SHARED_SERVICES_ACCOUNT_ID={{ moj_pttp_shared_services_account_id }} && echo -e "\e[1m\e[33m\uF0A4\e[0m The environment variable \e[41m SHARED_SERVICES_ACCOUNT_ID \e[0m is now set to: \e[1m\e[4m\e[32m"$SHARED_SERVICES_ACCOUNT_ID"\e[0m \uF25B"'
alias bsrc='source ~/.bashrc'
alias zsrc='source ~/.zshrc'
alias av='aws-vault exec'
alias av-shared='aws-vault exec mojo-shared-services --json --backend=pass --prompt=pass --'
alias av-dev='aws-vault exec mojo-development --json --backend=pass --prompt=pass --'
alias av-prep='aws-vault exec mojo-pre-production --json --backend=pass --prompt=pass --'
alias av-prod='aws-vault exec mojo-production --json --backend=pass --prompt=pass --'
alias k='kubectl'
