{
  "$schema": "https://raw.githubusercontent.com/JanDeDobbeleer/oh-my-posh/main/themes/schema.json",
  "blocks": [
    {
      "type": "prompt",
      "alignment": "right",
      "vertical_offset": -1,
      "segments": [
        {
          "type": "memory",
          "style": "powerline",
          "foreground": "#26C6DA",
          "properties": {
            "precision": 1,
            "prefix": " <#ff452d>\uf85a</> ",
            "postfix": "% "
          }
        },
        {
          "type": "ruby",
          "style": "powerline",
          "foreground": "#00ffbc",
          "properties": {
            "prefix": " <#ff0043>\uE791</> "
          }
        },
        {
          "type": "terraform",
          "style": "powerline",
          "foreground": "#0077ff",
          "properties": {
            "prefix": " <#ff8800>\uF0E3</> "
          }
        },
        {
          "type": "executiontime",
          "style": "powerline",
          "foreground": "#ff009b",
          "properties": {
            "threshold": 1,
            "style": "austin",
            "prefix": " <#00ff64>\uFA1A</> "
          }
        }
      ]
    },
    {
      "type": "newline"
    },
    {
      "type": "prompt",
      "alignment": "left",
      "segments": [
        {
          "type": "shell",
          "style": "powerline",
          "foreground": "#ffffff",
          "properties": {
            "prefix": "<#ed00ff>\uFCB5</> [",
            "postfix": "] ",
            "mapped_shell_names": {
              "pwsh": "PS"
            }
          }
        },
        {
          "type": "path",
          "style": "plain",
          "foreground": "#3380FF",
          "properties": {
            "prefix": "",
            "style": "full",
            "mapped_locations": {
              "~/work-projects/dns-dhcp/": "\uF6D5 ",
              "~/work-projects/ima/": "\uF878 ",
              "~/work-projects/documentations/": "\uF718 ",
              "~/work-projects/network-services/": "\uF502 ",
              "~/work-projects/shared-services/": "\uF1E1 ",
              "~/work-projects/others/": "\uF111 "
            }
          }
        },
        {
          "type": "git",
          "style": "plain",
          "foreground": "#FFF633",
          "properties": {
            "prefix": "",
            "fetch_status": true,
            "fetch_stash_count": true,
            "fetch_worktree_count": true
          }
        },
        {
          "type": "text",
          "style": "plain",
          "foreground": "#ed00ff",
          "properties": {
            "prefix": "",
            "text": "\u276F"
          }
        }
      ]
    }
  ]
}